# coding:utf-8

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
</head>
<body>
    <div class="container">
        <div class="row">
            <h1>アクセスした奴のIPが丸見えだぜ！！</h1>
        </div>
        <br>
        <div class="row">
            <table class="table table-striped">
            <tr><th>id</th><th>投票</th><th>ipアドレス</th><th>時刻(日本時間)</th></tr>
            <% @votes.each do |vote| %>
                <tr><td><%= vote.id %></td><td><%= vote.num %></td><td><%= vote.ip %></td><td><%= vote.updated_at %></td></tr>
            <% end %>
            </table>
        </div>
        <br>
        <div class="row">
            <h1>証拠隠滅も完璧だぜ！！</h1><br>
            <button type="button" class="btn btn-success" onClick="location.href='/colosole?cmd=delall&akaza=akari'">投票コード全削除</button>
        </div>
        <div class="row">
            <h1>投票なんてなかった！！</h1><br>
            <button type="button" class="btn btn-success" onClick="location.href='/colosole?cmd=clear&akaza=akari'">投票全削除</button>
        </div>
    </div>
</body>
</html>