# coding:utf-8

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <br>
        <div class="row">
            <% for i in 0..(@page - 1) do  %>
            <div class="col-xs-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <row>
                            <div class="col-xs-7">
                                <h5>投票コード（テスト版）</h5>
                            </div>
                            <div class="col-xs-5">
                                <%= image_tag @qr[i], :size => '100x100' %>
                            </div>
                        </row>
                        <row>
                            <p><small><%= @code[i] %></small></p>
                        </row>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
</body>
</html>