# coding:utf-8

<html>
<head>
    <title>投票するよ！</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-6"><h1>投票結果</h1></div>
            <div class="col-xs-6 text-center"><h1><button type="button" class="btn btn-default" onClick="location.href='/gencode'">投票コードを生成</button></h1></div>
        </div>
        <hr>
        <div class="row">
            <% @parts.each do |part| %>
                <div class="col-xs-6 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2><%= part.name %></h2>
                        </div>
                        <div class="panel-body">
                            <h3><%= @votes.where(num: part.id).length %>票</h3>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</body>
</html>